@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Regular.eot");
  src: url("./fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Regular.woff") format("woff"),
    url("./fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Medium.eot");
  src: url("./fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Medium.woff") format("woff"),
    url("./fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Bold.eot");
  src: url("./fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTLakes-Bold.woff") format("woff"),
    url("./fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "TT Lakes", sans-serif;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding: 0 16px;
}

.header__left-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header__left-group::after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
}

.header__buttons-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header__menu-button,
.header__call-button,
.header__chat-button,
.header__profile-button,
.header__repair-button,
.header__check-status-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__call-button,
.header__chat-button,
.header__profile-button {
  display: none;
}

.header__profile-button {
  margin-right: calc(42px - 16px);
  position: relative;
}

.header__profile-button:after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  position: absolute;
  right: -24px;
}

.main {
  background-color: #f8f8f8;
}

.services {
  padding: 24px 16px;
  overflow: hidden;
}

.services__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.services__heading {
  font-size: 28px;
  font-weight: bold;
  position: relative;
}

.services__header-right {
  display: flex;
  gap: 32px;
  display: none;
}

.services__repair-button,
.services__check-status-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.services__heading::before {
  content: "";
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background-color: #41f6d7;
  position: absolute;
  top: 0;
  left: -16px;
  transform: translateX(-50%);
}

.services__navigation {
  overflow-x: auto;
  margin-bottom: 24px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.services__navigation::-webkit-scrollbar {
  display: none;
}

.services__navigation-list {
  display: flex;
}

.services__navigation-item {
  padding: 2px;
}

.services__navigation-link {
  display: block;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  color: #7e7e82;
  transition: all 300ms;
}

.services__navigation-link:focus-visible {
  outline: none;
}

.services__navigation-item:first-child .services__navigation-link,
.services__navigation-link:hover,
.services__navigation-link:focus,
.services__navigation-link:active {
  outline: 2px solid #b8ffec;
  background-color: #fff;
}

.services__text {
  margin-bottom: 16px;
}

.services__additional-text-1 {
  display: none;
}

.services__additional-text-2 {
  display: none;
}

.services__read-more {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border: none;
  margin-bottom: 16px;
  cursor: pointer;
}

.services__right {
  margin: 0 auto;
  width: fit-content;
}

.services__img {
  width: 320px;
  margin-left: -16px;
}

@media (min-width: 768px) {
  .header__left-group {
    gap: 42px;
  }

  .header__left-group::after {
    left: 60px;
  }

  .header__call-button,
  .header__chat-button,
  .header__profile-button {
    display: flex;
  }

  .services {
    padding: 24px 24px;
  }

  .services__heading::before {
    left: -24px;
  }

  .services___content {
    display: flex;
    gap: 42px;
  }

  .services__right,
  .services__right img {
    width: 360px;
    border-radius: 6px;
  }

  .services__additional-text-1 {
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .services {
    padding: 24px 34px;
  }

  .services__header-right {
    display: flex;
  }

  .services__heading::before {
    left: -34px;
  }

  .services__navigation-list {
    flex-wrap: wrap;
  }

  .services__additional-text-1 {
    display: none;
  }

  .services__additional-text-2 {
    display: block;
    margin-bottom: 16px;
  }

  .services__right,
  .services__right img {
    width: 532px;
  }
}
